<div class="ui text container">
  <div class="ui header">
    <%= image_tag('logo-white', class: 'logo') %>
  </div>
  <h3><%= t('.explanation') %></h3>
  <%= link_to new_user_registration_path, class: 'ui large green home button' do %>
    <%= t('.create_account') %>
    <i class="add user icon"></i>
  <% end %>
</div>