.DS_store
/.bundle
/vendor/bundle
/db/*.sqlite3
/db/*.sqlite3-journal
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/coverage/
/spec/tmp/*
/node_modules
/yarn-error.log
.byebug_history
.idea/*
spec/examples.txt
