<div class="ui stackable centered grid">
  <div class="ten wide column center aligned">
    <!-- Header -->
    <h2 class="ui icon header">
      <i class="shopping basket icon"></i>
      <div class="content">
        <%= t('.header') %>
        <div class="sub header"><%= t('.subheader') %></div>
      </div>
    </h2>

    <!-- Content -->
    <div class="ui center aligned inventory stackable grid">
      <div class="sixteen wide column">
        <div class="ui divided items">
          <% SnackKind.each do |snack| %>
            <%= render 'snack_item', snack: snack %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
