<div class="ui large secondary inverted pointing menu">
  <%= link_to t('.home'), home_path, class: 'active item' %>
  <div class="right item">
    <%= link_to t('.log_in'), new_user_session_path, class: 'ui inverted button' %>
  </div>
</div>