<% if object.errors.any? %>
  <div class="ui red message">
    <div class="header"><%= t('.validation_failed') %></div>
    <ul class="list">
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>