<div class="ui stackable centered grid">
  <div class="five wide column">
    <h3 class="ui center aligned header"><%= t('.header') %></h3>
    <%= render 'form' %>
    <%= link_to t('.back'), characters_path, class: 'ui fluid basic button' %>
  </div>
</div>
