<div class="ui stackable centered grid">
  <div class="five wide column">
    <h3 class="ui center aligned header"><%= t('.header') %></h3>
    <%= render 'form' %>
  </div>
</div>
<%= link_to t('.back'), characters_path, class: 'ui basic button' %>
