#navbar {
  .menu-toggle {
    display: flex;
    justify-content: space-between;
    margin-left: 0.6em;
    font-size: 1.2rem;
    background: transparent;

    .logo {
      margin-right: 0.6em;
      width: 5em;
    }
  }

  .header.item {
    margin-top: 1em;
  }

  .logout.icon {
    margin-left: 0.2em;
  }

  .character.item {
    display: block;
  }

  .row.character-stats {
    margin-bottom: 0.4em;
  }
}
